/*MENU TOGGLER*/

.nav-down.active {
    display: block;
}

/*PRODUCT POPUP TOGGLER*/

.offer-contact.active {
    transform: translateY(0);
}

/*SLIDER IMG*/

.slider.img1 {
    animation: sliderimg 10s infinite;
}

@keyframes sliderimg {
    0% {
        opacity: 0;
    }

    2% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    98% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

}

/*SLIDER TXT*/

.slider-text {
    animation: slidertxt 10s infinite;
}

@keyframes slidertxt {
    0% {
        opacity: 0;
    }

    2% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    93% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/*SLIDER AFTER*/

.slider-text h1::after {
    animation: after 30s infinite;
}

@keyframes after {
    0% {
        opacity: 1;
    }

    33.3% {
        opacity: 1;
    }

    33.34% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
